/* Vehicle Container */
.vehicle-container {
  text-align: center;
  margin-bottom: 20px;
}

/* Vehicle Image */
.vehicle-image {
  max-width: 700px;
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Button Container */
.button-container {
  margin-top: 20px;
}

/* Button Styles */
.btn-danger, .btn-warning, .btn-dark {
  margin-right: 10px;
  font-size: 1em;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-danger {
  background-color: #FFFFFF;
  color: #FF5733;
}

.btn-warning {
  background-color: #fff;
  color: #F9ED32;
}

.btn-dark {
  background-color: #FFFFFF;
  color: #252525;
}

.btn-danger:hover, .btn-warning:hover, .btn-dark:hover {
  filter: brightness(1.2);
}
