.slider_item {
  max-width: 100%;
  height: 550px;
}

.slider_item-01 {
  background: linear-gradient(
      rgba(86, 87, 42, 0.5),
      rgba(236, 240, 187, 0)
    ),
    url('../assets/company-image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider_item-02 {
  background: linear-gradient(
      rgba(86, 87, 42, 0.5),
      rgba(236, 240, 187, 0)
    ),
    url('../assets/vehicle3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider_item-03 {
  background: linear-gradient(
      rgba(86, 87, 42, 0.5),
      rgba(236, 240, 187, 0)
    ),
    url('../assets/rhyno9.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-slider {
  overflow: hidden;
}

.slider_content {
  padding-top: 90px;
  color: white;
  text-align: center;
}

.slider_content h1 {
  font-size: 3.2rem;
  font-weight: 600;
}
